:root {
    --background-bannerLeft: #ffd891;
    --background-bannerRight: #b9ffb9;
    --background-default: #DCE8F2;
    --color-font-default: #4d4d4d;
    --color-font-azul: #3E5159;
    --color-font-azulClaro: #7686A6;
    --color-font-azulMuitoClaro: #bfbef8;
}
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-font-azulClaro);
}

a:hover {
    text-shadow: 2px 2px 5px var(--color-font-azul);
}

body {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas: 
    "menu" "menu" "menu" 
    "bannerLeft" "conteudo" "bannerRight"
    "footer" "footer" "footer";
    width: auto;
}

button {
    display: block;
    padding: 20px;
    cursor: pointer;
    background-color: var(--color-font-azul);
    color: var(--color-font-azulMuitoClaro);
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    margin: auto;
}

button:hover {
    background-color: var(--color-font-azulClaro);
    color: var(--background-default);
    box-shadow: 2px 2px 5px var(--color-font-default);
}

h1 {
    color: var(--background-default);
    font-size: 1.5em;
    text-shadow: 2px 2px black;
}

h2 {
    margin: 15px;
}

.bannerLeft {
    min-height: 100px;
    background-color: var(--background-bannerLeft);
}

.bannerRight {
    min-height: 150px;
    background-color: var(--background-bannerRight);
}

.conteudo {
    min-height: 500px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-areas: "bannerLeft" "artigo" "bannerRight";
}

/* AREA MENU */
.menu {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background-color: var(--color-font-default);
    border-bottom: solid 3px var(--color-font-azul);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navegacao a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--background-default);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px var(--color-font-default);
    padding: 15px;
}

.navegacao a:hover {
    background-color: var(--color-font-azul);
    box-shadow: 2px 2px black;
}

.quadroAnuncio {
    margin: 15px;
    padding: 15px;
    border: solid 3px var(--color-font-azul);
    background-color: var(--color-font-azulMuitoClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quadroAnuncio img {
    margin: auto;
}

.quadroVideo {
    display: flex;
    margin: 15px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--color-font-azul);
    background-color: var(--color-font-azulMuitoClaro);
}

.quadroVideo span {
    margin-bottom: 20px;
}

iframe {
    border: solid 3px var(--color-font-azul);
    box-shadow: 2px 2px 5px var(--color-font-default);
}
/* AREA RODAPE */

.rodape {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    color: var(--background-default);
    font-size: 0.8em;
    height: 50px;
    background-color: var(--color-font-default);
}

/* AREA ARTIGO */

.artigo {
    width: auto;
    max-width: 1200px;
}

.tituloArtigo {
    color: var(--color-font-azulMuitoClaro);
    background-color: var(--color-font-azul);
    text-shadow: 2px 2px black;
    padding: 10px;
}

.conteudoArtigo {
    padding:10px;
}

.conteudoArtigo p {
    text-indent: 15px;
    text-align: justify;
    line-height: 1.5em;
    margin: 10px;
}

.bannerConteudo {
    background-color: var(--background-bannerRight);
    min-height: 100px;
}

.blocoAtendimento {
    background-color: var(--color-font-azulMuitoClaro);
    border: solid 3px var(--color-font-azul);
    padding: 15px;
    margin: 20px;
    text-align: justify;
    box-shadow: 2px 2px 5px var(--color-font-default);
}

.blocoAtendimento a {
    text-decoration: none;
    color: var(--color-font-default);
}

.blocoAtendimento a:hover {
    text-shadow: 1px 1px 1px var(--color-font-azul);
}

.formulario {
    display: block;
    margin: 15px;
    padding: 15px;
}

.perfil {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 15px;
}

.perfil .foto {
    display: flex;
    border: solid 3px var(--color-font-azul);
    margin: 15px;
    box-shadow: 5px 5px var(--color-font-default);
}

.perfil a {
    text-decoration: none;
    color: var(--color-font-default);
}

.voltar {
    background-color: var(--color-font-azul);
    color: var(--background-default);
    text-transform: uppercase;
    text-align: end;
}

.voltar a {
    color: var(--background-default);    
    text-decoration: none;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: auto;
        width: auto;
        font-size: 1.4em;
    }

    .desktop {
        display: none;
    }

    .conteudo {
        min-height: 500px;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
    }

    .conteudoArtigo p {
        text-indent: 15px;
        text-align: left;
        margin: 10px;
    }

    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 992px) {


}

